.header {
  min-height: 80px;
  border: 2px solid black;
  display: flex;
  justify-content: flex-end;

}
.header__menu {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
  
}
